<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src ="/javascript/idea.js"></script>
    <script type="text/javascript" src ="/javascript/line.js"></script>
    <script type="text/javascript" src ="/javascript/canvas.js"></script>
    <script type="text/javascript" src ="/javascript/interface.js"></script>
  </head>

  <body>

    h2= greeting

      <canvas id="canvas"></canvas>

      <div class=toolbar id=toolbar>
        <h1>mind mapp</h1>

        <div class=shapebuttons>
          <button id="rectangle" type="button" name="button">Rectangle</button><br><br>
          <button id="circle" type="button" name="button">Circle</button><br><br>
          <button id="clear_lines" type="button" name="button">Clear Lines</button><br><br>
          <button id="reset" type="button" name="button">Reset</button><br>
        </div>

        <br>
        <br>
        <div class=colorbuttons>
          <button class=colorbuttonhawaiianyellow id=colorbuttonhawaiianyellow onclick="document.getElementById('canvas').classList.toggle('hawaiianyellow');"></button>
          <button class=colorbuttonsalmon id=colorbuttonsalmon onclick="document.getElementById('canvas').classList.toggle('salmon');"></button>
          <button class=colorbuttonveryyellow id=colorbuttonveryyellow onclick="document.getElementById('canvas').classList.toggle('veryyellow');"></button>
        </div>

        <textarea id="text"></textarea>

      </div>

    <button id=toggle class=toggle onclick="document.getElementById('toolbar').classList.toggle('closed'); document.getElementById('toggle').classList.toggle('closed');">< ></button>

  </body>
</html>
