<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src ="/javascript/idea.js"></script>
    <script type="text/javascript" src ="/javascript/line.js"></script>
    <script type="text/javascript" src ="/javascript/canvas.js"></script>
    <script type="text/javascript" src ="/javascript/interface.js"></script>
  </head>

  <body>

    h2= greeting

      <canvas id="canvas"></canvas>

      <div class=toolbar id=toolbar>
        <h1>mind mapp</h1>

        <div class=shapebuttons>
          <button id="rectangle" type="button" name="button">Rectangle</button><br><br>
          <button id="circle" type="button" name="button">Circle</button><br><br>
          <button id="clear_lines" type="button" name="button">Clear Lines</button><br><br>
          <button id="reset" type="button" name="button">Reset</button><br>
        </div>

        <br>
        <br>
        <div class=colorbuttons>
          <button class=colorbuttonhawaiianyellow id=colorbuttonhawaiianyellow onclick="document.getElementById('canvas').classList.toggle('hawaiianyellow');"></button>
          <button class=colorbuttonsalmon id=colorbuttonsalmon onclick="document.getElementById('canvas').classList.toggle('salmon');"></button>
          <button class=colorbuttonveryyellow id=colorbuttonveryyellow onclick="document.getElementById('canvas').classList.toggle('veryyellow');"></button>
        </div>

        <br>
        <input type="text" id="text">

      </div>

      <div id=popup class=popup style="text-align:center;">
      <h4>How to use<br>mind mapp</h4>
      <ul>
        <li>Create an idea by typing a word into the text box and then clicking a shape.</li>
        <li>Click and drag your ideas to move them around.</li>
        <li>Draw a line by double clicking a start point, then double clicking its end point.</li>
        <li>The reset button will clear your canvas.</li>
      </ul>
      </div>

    <button id=toggle class=toggle onclick="document.getElementById('toolbar').classList.toggle('closed'); document.getElementById('toggle').classList.toggle('closed');">< ></button>

    <button class=instructions name="instructions" onclick="document.getElementById('popup').classList.toggle('open');">?</button>

  </body>
</html>
