<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src ="/javascript/idea.js"></script>
    <script type="text/javascript" src ="/javascript/canvas.js"></script>
    <script type="text/javascript" src ="/javascript/interface.js"></script>
  </head>

  <body>

    h2= greeting

      <canvas id="canvas"></canvas>

      <div class=toolbar id=toolbar>
        <h1>mind mapp</h1>

        <div class=shapebuttons>
          <button type="button" id="rectangle" name="button">Rectangle</button><br><br>
          <button type="button" id="circle" name="button">Circle</button><br><br>
          <button type="button" id="reset" name="button">Reset</button><br>
        </div>

      </div>

    <button id=toggle class=toggle onclick="document.getElementById('toolbar').classList.toggle('closed'); document.getElementById('toggle').classList.toggle('closed');">< ></button>
  </body>
</html>
